/* You can add global styles to this file, and also import other style files */
@import "assets/styles/reset";
@import "assets/styles/fonts";

html {
  font-family: 'Poppins', sans-serif;
}

html {
  font-family: 'Roboto', sans-serif;
}

html {
  font-family: 'Roboto Condensed', sans-serif;
}

html {
  font-family: 'Inter', sans-serif;
}


